<div
  nz-submenu
  nzTitle="Floor"
  style="background: rgb(52 52 52)"
  nzIcon="build"
>
  <div class="buttons" style="background:  black">
    <button nz-button nzType="link">All</button>
    <div
      style="
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
      "
    >
      <button nzGhost nz-button>Floor 1</button>
      <button nzGhost nz-button>Floor 2</button>
      <button nzGhost nz-button>Floor 3</button>
      <button nzGhost nz-button>Floor 4</button>
      <button nzGhost nz-button>Floor 5</button>
    </div>
  </div>
</div>
