.devices  {
  display: flex;
  margin-top: 16px;
  justify-content: flex-start;
  align-items: center;
  nz-switch {
    margin-right: 8px;

    &:first-child {
      margin-left: 8px;
    }
  }


}

.device-forms {
  margin-top: 16px;
}

.forms {
  margin-top: 8px;
}

.room-status {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
