<nz-card
  routerLink="{{ !room.isLocked || canEdit ? '/rooms/' + room.key : '/' }}"
  style="width: 100%; border: 1px solid rgba(0, 21, 41, 0.35)"
  [nzActions]="[footer]"
>
  <div class="locked-overlay" *ngIf="room.isLocked">
    <i nz-icon nzType="lock"></i>
    <strong>There is already someone in this room </strong>
  </div>
  <div style="position: relative">
    <div
      class="status-band"
      [ngStyle]="{ background: room.occupied ? '#606060' : '#2597fb' }"
    ></div>

    <div class="title">
      <button
        style="margin-right: 4px"
        *ngIf="canEdit"
        nzSize="small"
        nz-button
        nzShape="circle"
        (click)="onEditClick($event)"
        nzType="primary"
      >
        <i nz-icon nzType="edit"></i>
      </button>
      <span>#{{ room.roomNumber }} f {{ room.roomFloor }}</span>
    </div>

    <div style="width: 100%">
      <strong>{{ room.occupied ? room.tenantName : "FREE ROOM" }}</strong>
    </div>

    <nz-space
      style="
        margin-top: 48px;
        display: flex;
        justify-content: flex-start;
        padding-bottom: 8px;
      "
    >
      <nz-space-item *ngIf="room.bath">
        <nz-badge nzCount="{{ room.bathDevices?.length }}">
          <nz-avatar
            style="
              background: white;
              color: black;
              border: 1px solid rgba(0, 21, 41, 0.35);
            "
            [nzSize]="64"
            [nzIcon]="'bath'"
          ></nz-avatar>
        </nz-badge>
      </nz-space-item>

      <nz-space-item *ngIf="room.shower">
        <nz-badge nzCount="{{ room.showerDevices?.length }}">
          <nz-avatar
            style="
              background: white;
              color: black;
              border: 1px solid rgba(0, 21, 41, 0.35);
            "
            [nzSize]="64"
            [nzIcon]="'shower'"
          ></nz-avatar>
        </nz-badge>
      </nz-space-item>
      <nz-space-item *ngIf="room.steam">
        <nz-badge nzCount="{{ room.steamDevices?.length }}">
          <nz-avatar
            style="
              background: white;
              color: black;
              border: 1px solid rgba(0, 21, 41, 0.35);
            "
            [nzSize]="64"
            [nzIcon]="'steam'"
          ></nz-avatar>
        </nz-badge>
      </nz-space-item>
    </nz-space>
  </div>
</nz-card>

<ng-template #extraTemplate>
  <nz-tag style="margin-right: 0" [nzColor]="room.occupied ? 'red' : 'green'">{{
    room.occupied ? "occupied" : "available"
  }}</nz-tag>
</ng-template>

<ng-template #cardTitle> </ng-template>

<!-- <ng-template #shower>
  <nz-badge [nzCount]="3">
    <i nz-icon nzType="bath" style="font-size: 48px"></i>
  </nz-badge>
</ng-template>

<ng-template #steam>
  <nz-badge [nzCount]="1">
    <i nz-icon nzType="shower" style="font-size: 48px"></i>
  </nz-badge>
</ng-template>

<ng-template #bath>
  <nz-badge [nzCount]="2">
    <i nz-icon nzType="steam" style="font-size: 48px"></i>
  </nz-badge>
</ng-template> -->

<ng-template #footer>
  <div style="text-align: left; padding-left: 12px">
    <i nz-icon nzType="calendar"></i>
    {{ room.occupied ? room.occupiedFor : "0 days" }}
  </div>
</ng-template>
