<div
  nz-submenu
  nzTitle="Systems"
  nzIcon="build"
  style="background: rgb(52 52 52)"
>
  <div style="padding: 24px; background: black;" class="systems-filter">
    <div>
      <nz-list class="system-list" style="color: white" nzSize="large">
        <nz-list-item>Bathomatic<i nz-icon nzType="bath"></i> </nz-list-item>

        <nz-list-item>Ishower<i nz-icon nzType="shower"></i> </nz-list-item>
        <nz-list-item>Steamomatic<i nz-icon nzType="steam"></i> </nz-list-item>
      </nz-list>
    </div>
  </div>
</div>
