.sidebar {
  width: 20%;
  display: flex;
  flex-direction: column;

  .name {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }

  nz-list-item {
    border-bottom: none;
  }
}

.wrapper {
  display: flex;
}

.content {
  background: black;
  padding: 0;
  width: 80%;
  height: 600px;
  display: flex;
  .device {
    border-right: 1px solid gray;
    width: 400px;
    max-width: 400px;
    flex: 1;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;

    .device-header {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 16px;

      img {
        width: 60%;
      }
    }

    .device-main {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: column;

      .visual {
        font-size: 250px;
        margin-bottom: -50px;

        svg {
          height: auto;
          width: auto;
        }
      }

      .visual-wrapper {
        position: relative;
        width: 100%;
        padding: 24px;
        margin-bottom: 24px;
      }

      .degrees,
      .fill-percent {
        position: absolute;
        bottom: 0;
        bottom: 35px;
        font-size: 24px;
        text-align: center;
      }

      .degrees {
        left: 70px;
      }

      .fill-percent {
        right: 70px;
      }

      .fill {
        width: 100%;
        position: absolute;
        height: 100%;
        background: blue;
        bottom: 0;
        z-index: 0;
        mask: url(/assets/outline/device-bath.svg);
        left: 0;
      }
    }

    .device-footer {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 48px;
      flex-direction: column;
      padding-top: 0;
      .status {
        text-align: center;
      }
      .controls {
        display: flex;
        align-items: center;
        margin-top: 16px;
        i {
          font-size: 64px;
          color: red;
        }

        span {
          font-size: 32px;
        }
      }
    }
  }
  .stream {
    height: 100%;
    flex: 1;
    display: flex;
    justify-items: center;
    padding: 16px;
    align-items: center;
    flex-direction: column;

    .stream-description {
      color: white;
      margin-top: 16px;
    }
  }
}

.power-off {
  width: 70px;
  margin: 0 24px;
  height: 70px;
  border: none;
}

.data {
  margin-top: 16px;
  min-height: 300px;
  max-height: 500px;
}
