<nz-card [nzTitle]="header" *ngIf="room; else loading">
  <div class="wrapper">
    <div class="sidebar">
      <div class="name">
        <strong>{{ room.tenantName }} </strong>
        <small><i nz-icon nzType="calendar"></i> {{ room.occupiedFor }}</small>
      </div>

      <div class="actions">
        <nz-list>
          <nz-list-item>
            <strong>User</strong>
          </nz-list-item>
          <nz-list-item>
            <strong>Consumables</strong>
          </nz-list-item>
          <nz-list-item>
            <strong>Service</strong>
          </nz-list-item>
          <nz-list-item *ngIf="fbAuth.user | async">
            <button (click)="editRoom()" nz-button nzType="danger">Edit Room</button>
          </nz-list-item>
        </nz-list>
      </div>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>

  <nz-divider nzOrientation="left" [nzText]="expandIcon"></nz-divider>
  <ng-template #expandIcon>
    <a (click)="showData = !showData"
      ><i nz-icon nzType="{{ showData ? 'menu-unfold' : 'menu-fold' }}"></i
    ></a>
    Data
  </ng-template>
  <div *ngIf="showData" class="data">
    <ngx-charts-line-chart
      [view]="[700, 350]"
      [scheme]="colorScheme"
      [legend]="legend"
      [legendPosition]="'below'"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [timeline]="timeline"
      [results]="data"
    ></ngx-charts-line-chart>
    <nz-table style="margin-top: 16px" #basicTable [nzData]="tableData">
      <thead>
        <tr>
          <th><i nz-icon nzType="bath"></i> Bathomatic</th>
          <th>Preset</th>
          <th>Depth</th>
          <th>Temp</th>
          <th>Scent</th>
          <th>Drops</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of basicTable.data">
          <td>{{ entry.Bathomatic }}</td>
          <td>{{ entry.presets }}</td>
          <td>{{ entry.depth }}</td>
          <td>{{ entry.temp }}</td>
          <td>{{ entry.scent }}</td>
          <td>{{ entry.drop }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</nz-card>

<ng-template #loading>
  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      height: calc(100vh - 112px);
    "
  >
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
  </div>
</ng-template>

<ng-template #header>
  <nz-page-header
    style="padding: 0"
    nzBackIcon
    nzTitle="Room"
    nzSubtitle="#{{ room.roomNumber }} f{{ room.roomFloor }}"
  >
  </nz-page-header>
</ng-template>
