<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="280px"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <img src="/assets/logo_white.png" alt="logo" />
    </div>

    <ul
      style="margin-top: 64px; background: rgb(52 52 52)"
      [nzSelectable]="false"
      nz-menu
      nzTheme="dark"
      nzMode="inline"
    >
      <bm-floor-filter></bm-floor-filter>
      <bm-rooms-filter></bm-rooms-filter>
      <bm-systems-filter></bm-systems-filter>
      <bm-activity-filter></bm-activity-filter>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
        </span>

        <nz-space [nzSize]="'large'">
          <nz-space-item>
            <nz-input-group [nzSuffix]="suffixIconSearch">
              <input type="text" nz-input placeholder="input search text" />
            </nz-input-group>
            <ng-template #suffixIconSearch>
              <i nz-icon nzType="search"></i>
            </ng-template>
          </nz-space-item>
          <nz-space-item>
            <bm-clock></bm-clock>
          </nz-space-item>
          <nz-space-item>
            <i nz-dropdown [nzDropdownMenu]="menu" nz-icon nzType="user"></i>
          </nz-space-item>
          <nz-space-item>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu nzSelectable>
                <li routerLink="/rooms" nz-menu-item>Rooms</li>
                <ng-container *ngIf="isLoggedIn">
                  <li routerLink="/admin" nz-menu-item>Admin</li>
                  <li (click)="logout()" nz-menu-item>Logout</li>
                </ng-container>
              </ul>
            </nz-dropdown-menu>
          </nz-space-item>
        </nz-space>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
